################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/ipch/CONSOLEAPPLICATION1-23523317
/ConsoleApplication1/ConsoleApplication1.VC.VC.opendb
/ConsoleApplication1/ConsoleApplication1.VC.db